$black: #000000;
$white: #FFFFFF;
$dark-gray: #4b4b4b;
$gray: #6d6d6d;
$light-gray: #c2c2c2;
$dark-red: #9f0909;
$red: #a94442;
$light-red: #ff2325;
$dark-green: #2f7b0f;
//$red: #42A948
$light-green: #25a618;
$dark-brown: #8b5c21;
$light-brown: #a16a29;
