@import "../helpers/variables";
@font-face {
  font-family: 'DnDType';
  src: url('/assets/font/Dalelands_Bold.otf');

}

html, body {
  height: 100%;
  background-color: $dark-gray;
  font-family: 'DnDType';
  font-size: 16px;
  color: #292828;
  overflow: hidden;
}

h1, h2, h3 {
  font-weight: bold;
  padding-bottom: 0.5rem;
}

h1 {
  font-size: xx-large;
}

h2 {
  font-size: x-large;
}

h3 {
  font-size: large;
}

label {
  padding-bottom: 0.3rem;
  font-weight: bold;
}

::-webkit-scrollbar {
  width: 0.2rem;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}

::-webkit-scrollbar-button {
  display: none;
}
