@import "../helpers/variables";
html, body {
  height: 100%;
  background-color: $dark-gray;
  overflow: hidden;
}

h1, h2, h3 {
  font-weight: bold;
  padding-bottom: 0.5rem;
}

h1 {
  font-size: xx-large;
}

h2 {
  font-size: x-large;
}

h3 {
  font-size: large;
}

label {
  padding-bottom: 0.3rem;
  font-weight: bold;
}
