@import "../helpers/variables";

.central-field-container {
  #encounter-field {
    width: 100%;

    #encounter-header-row {
      width: 100%;
      height: 2rem;
      line-height: 1.5rem;

    }
    .name-span {
      display: inline-block;
      width: 30%;
      padding-left: 1rem;
    }
    .hp-span {
      display: inline-block;
      width: 30%;
      input {
        width: 25%;
        margin-left: 1rem;
      }
    }
    .init-span {
      display: inline-block;
      width: 35%;
    }
    .optional-span, .player-span {
      display: inline-block;
    }
    .optional-span {
      float: right
    }
    .player-span {
      margin: 0 0 1rem 1rem;
      width: 10%;
    }
  }
  .encounter-row-container {
    position: relative;
    width: 100%;
    margin-bottom: 1rem;

    .progress-bar {
      -moz-appearance: none;
      -ms-progress-appearance: unset;
      -webkit-appearance: none;
      width: 100%;
      height: 3rem;
    }
    .encounter-row {
      align-items: center;
      border: 0.1rem solid;
      display: flex;
      height: 3rem;
      position: absolute;
      top: 0;
      width: 100%;
    }

    .active {
      border-left: solid 0.5rem $black;
      border-right: solid 0.5rem $black;
    }

    .selected {
      background-color: rgba(255, 255, 255, 0.4);
    }
    .disabled {
      background-image:
        repeating-linear-gradient(
            45deg,
            transparent,
            transparent 20px,
            black 20px,
            black 22px
        );
    }
  }
  .border-bad {
    border: 2px solid rgba(255, 0, 13, 0.9);
  }
}

.overview-sidebar-container {
  .charForm {
    .text-group {
      > span {
        display: block;
      }
    }
  }
  label {
    font-weight: bold;
    font-size: 1.3rem;
  }
}

