@import "../helpers/variables";
//.btn {
//  border-radius: unset;
//
//}
//

.btn-success {
  border-color: saddlebrown;
}
.btn-success:not(:disabled):not(.disabled) {
  border-color: saddlebrown;
  //height: 100%;
  //color: black;
}

.btn-success:not(:disabled):not(.disabled).active {
  //background-color: $dark-gray;
  border-color: saddlebrown;
  //color: black;
}

.form-control {
  line-height: 1rem;
  padding: 0.175rem 0.375rem;
}

.btn-image {
  //width: 100%;
  height: auto;
}
