@import '../helpers/variables';

#tracker-container {
  box-sizing: border-box;
  height: 100%;
}
.left-sidebar {
  margin: 0 0.625rem 0 1.25rem;
  flex-flow: column nowrap;
  height: 100%;
  background-color: $light-brown;
  #control-bar-container {
    height: 10%;
    margin-top: 0.625rem;

    #button-group {
      width: 100%;
      background-color: $light-gray;
      display: flex;

      .button:focus {
        box-shadow: none;
      }
    }
  }

  #selection-sidebar-container {
    height: 90%;
  }
}


.center-field {
  height: 100%;
  background-color: $light-brown;
}

.right-sidebar {
  height: 100%;
  background-color: $light-brown;
  margin: 0 1.25rem 0 0.625rem;
}
