<div class="central-field-container">
  <form [formGroup]="encounterForm" *ngIf="tempEncounter">
    <div class="form-group">
      <label>Encounter name: <input type="text" class="form-control" formControlName="name"></label>
    </div>
    <table id="hero-field" *ngIf="tempEncounter">
      <h3>Heroes:</h3>
      <tr>
        <th class="number-column"></th>
        <th class="text-column">Name</th>
        <th class="text-column">Player</th>
        <th class="number-column">HP</th>
        <th class="number-column">AC</th>
        <th class="number-column">Init</th>
      </tr>
      <ng-container formArrayName="heroes">
        <tr *ngFor="let h of heroes.controls; let i = index" [formGroupName]="i">
          <td class="number-column" (click)="removeHero(i)"><img src="../../../../assets/images/close-24.png"></td>
          <td class="text-column"><input class="disabled-input" type="text" formControlName="name"></td>
          <td class="text-column"><input type="text" formControlName="player"></td>
          <td class="number-column"><input class="disabled-input" type="text" formControlName="hp"></td>
          <td class="number-column"><input class="disabled-input" type="text" formControlName="ac"></td>
          <td class="number-column"><input class="disabled-input" type="text" formControlName="init_mod"></td>
        </tr>
      </ng-container>
    </table>
    <table id="monster-field" *ngIf="tempEncounter">
      <h3>Monsters:</h3>
      <tr>
        <th class="number-column"></th>
        <th class="text-column">Name</th>
        <th class="number-column">HP</th>
        <th class="number-column">AC</th>
        <th class="number-column">Init</th>
      </tr>
      <ng-container formArrayName="monsters">
        <tr *ngFor="let h of monsters.controls; let i = index" [formGroupName]="i">
          <td class="number-column" (click)="removeMonster(i)"><img src="../../../../assets/images/close-24.png"></td>
          <td class="text-column"><input class="disabled-input" type="text" formControlName="name"></td>
          <td class="number-column"><input class="disabled-input" type="text" formControlName="hp"></td>
          <td class="number-column"><input class="disabled-input" type="text" formControlName="ac"></td>
          <td class="number-column"><input class="disabled-input" type="text" formControlName="init_mod"></td>
        </tr>
      </ng-container>
    </table>

    <button [disabled]="!encounterForm.valid" (click)="save()" class="btn btn-success">Save</button>
  </form>
</div>
