<div id="selection-sidebar-container">
  <div class="list-item-container">
    <div class="list-item-header">
      <h2>{{type | titlecase}}:</h2> <span (click)="toggleInput()"><i class="fa fa-search"></i></span>
    </div>
    <input type="text" [value]="filter" [formControl]="filterControl" *ngIf="input">
    <div class="item-container">
      <app-list-item *ngFor="let item of itemsToDisplay" [item]="item" (itemSelected)="itemSelected(item)"></app-list-item>
    </div>
    <button (click)="createNew()">Add new</button>
  </div>
  <div class="list-item-container" *ngIf="progressList">
    <h2>Busy encounters:</h2>
    <ng-container *ngFor="let item of progressList">
      <app-list-item [item]="item" (itemSelected)="itemSelected(item)"></app-list-item>
    </ng-container>
  </div>
</div>
