<div class="overview-sidebar-container">
  <div *ngIf="tempItem" class="charForm">
      <div class="form-group text-group" >
        <label>Name</label>
        <span>{{tempItem.name}}</span>
      </div>
      <div *ngIf="tempItem.avatar">
        <img src="{{tempItem.avatar}}">
      </div>

      <div class="form-group text-group">
        <label>Class</label>
        <span>{{tempItem.creature_class}}</span>
      </div>

      <div class="form-group text-group">
        <label>Description</label>
        <span>{{tempItem.description}}</span>
      </div>

      <div class="form-group">
        <label>HP</label>
        <span>{{tempItem.hp}}</span>
        <label>AC</label>
        <span>{{tempItem.ac}}</span>
        <label>Init</label>
        <span>{{tempItem.init_mod}}</span>
      </div>
  </div>
</div>
