<div class="central-field-container">
    <div class="form-group">
      <label>Encounter name: <input type="text" class="form-control"></label>
    </div>
    <table id="hero-field" *ngIf="tempEncounter">
      <h3>Heroes:</h3>
      <tr>
        <th class="text-column">Name</th>
        <th class="text-column">Player</th>
        <th class="number-column">HP</th>
        <th class="number-column">AC</th>
        <th class="number-column">Init</th>
      </tr>
      <ng-container formArrayName="heroes">
        <tr *ngFor="let h of heroes; let i = index" [formGroupName]="i">
          <td class="text-column"><input class="disabled-input" type="text"></td>
          <td class="text-column"><input type="text" formControlName="player"></td>
          <td class="number-column"><input class="disabled-input" type="text"></td>
          <td class="number-column"><input class="disabled-input" type="text"></td>
          <td class="number-column"><input class="disabled-input" type="text"></td>
        </tr>
      </ng-container>
    </table>
</div>
