<div class="central-field-container">
  <div class="form-group">
    <label>Encounter: {{encounter.name}}</label>
  </div>
  <div id="encounter-field" *ngIf="participants">
    <div id="encounter-header-row">
      <span class="name-span">Name</span>
      <span class="hp-span">HP</span>
      <span class="init-span">Init</span>
    </div>
    <div class="encounter-row-container" *ngFor="let p of participants; let i = index"
         [ngClass]="{'border-bad': (p.hp < (p.max_hp/2))}">
      <progress class="progress-bar" [value]="p.hp" [max]="p.max_hp"></progress>
      <div class="encounter-row" (click)="selectTarget($event, p, i)"
           [ngClass]="{'active': i === currentIndex, 'selected': i === selected}">
        <span class="name-span">{{p.name}}</span>
        <div class="hp-span">
          <span>{{p.hp}}</span>
          <input #hpInput *ngIf="i===selected" type="number" (blur)="changeHp(hpInput.value, i)">
        </div>
        <div class="init-span">
          <span>{{p.initiative}}</span>
          <div class="optional-span" *ngIf="p.type === 'hero'">
            <span class="player-span">{{p.player}}</span>
            <span *ngIf="i === selected && i !== currentIndex"><i class="fa fa-times" (click)="deletePlayer(i)"></i></span>
          </div>
          <div class="optional-span" *ngIf="p.type !== 'hero' && i === selected && i !== currentIndex">
            <span><i class="fa" [ngClass]="{'fa-eye-slash': !p.disabled, 'fa-eye': p.disabled}" (click)="disablePlayer(p, i)"></i></span>
            <span><i class="fa fa-times" (click)="deletePlayer(i)"></i></span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
