<div class="central-field-container">
  <div class="form-group">
    <label>Encounter: {{encounter.name}}</label>
  </div>
  <div id="encounter-field" *ngIf="participants">
    <div id="encounter-header-row">
      <span class="name-span">Name</span>
      <span class="hp-span">HP</span>
      <span class="init-span">Init</span>
    </div>
    <div class="encounter-row" *ngFor="let p of participants; let i = index" (click)="selectTarget($event, p, i)"  [ngClass]="{'active': i === currentIndex, 'selected': i === selected}">
      <span class="name-span">{{p.name}}</span>
      <div class="hp-span">
        <span>{{p.hp}}</span>
        <input #hpInput *ngIf="i===selected" type="number" (blur)="changeHp(hpInput.value, i)">
      </div>
      <div class="init-span">
        <span>{{p.initiative}}</span>
        <span class="player-span" *ngIf="p.type === 'hero'">{{p.player}}</span>
        <div class="optional-span" *ngIf="p.type !== 'hero' && i === selected && i !== currentIndex">
          <span><i class="fa fa-eye-slash" (click)="disablePlayer(p, i)"></i></span>
          <span><i class="fa fa-times" (click)="deletePlayer(i)"></i></span>
        </div>
      </div>
    </div>
  </div>
</div>
