<div id="control-bar-container">
  <div class="btn-group" (ngModelChange)="optionSelected($event)" id="button-group" btnRadioGroup
       [ngModel]="selectedOption">
    <div *ngFor="let b of buttonOptions"><label class="btn btn-success option-button" btnRadio={{b.value}} tabindex="0"><img
      class="btn-image" src={{b.source}}></label></div>
  </div>
  <!--<div class="btn-group" id="button-group-s">-->
    <!--<button *ngFor="let b of buttonOptions" value={{b.value}} (click)="optionSelected(b.value)"><label class="btn btn-success button" tabindex="0"><img-->
      <!--class="btn-image" src={{b.source}}></label></button>-->
  <!--</div>-->
</div>
